<div class="row">
  <div class="col-12">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Sales</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2">
            <div><h3>{{ stats.salesToday }}</h3></div>
            <div><p>Today</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.salesYesterday }}</h3></div>
            <div><p>Yesterday</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.salesSevenDays }}</h3></div>
            <div><p>7 Days</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.salesMtd }}</h3></div>
            <div><p>Month-to-date</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.aov7 }}</h3></div>
            <div><p>AOV (7 days)</p></div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Counts</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-2">
            <div><h3>{{ stats.ordersToday }}</h3></div>
            <div><p>Orders today</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.customersToday }}</h3></div>
            <div><p>Customers today</p></div>
          </div>
          <div class="col-2">
            <div><h3>{{ stats.repeats7 }}</h3></div>
            <div><p>Repeats (7 days)</p></div>
          </div>
          <div class="col-3">
            <div><h4>{{ stats.productStats }}</h4></div>
            <div><p>Prints/Posters/Canvas (7 days)</p></div>
          </div>
          <div class="col-3">
            <div><h5 class="align-middle">{{ stats.appCounts }}</h5></div>
            <div><p>Apps (7 days)</p></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

