<div class="row">
  <div class="col-12">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Sales</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-3">
            <div><h3>{{ stats.today }}</h3></div>
            <div><p>Today</p></div>
          </div>
          <div class="col-3">
            <div><h3>{{ stats.yesterday }}</h3></div>
            <div><p>Yesterday</p></div>
          </div>
          <div class="col-3">
            <div><h3>{{ stats.sevenDays }}</h3></div>
            <div><p>7 Days</p></div>
          </div>
          <div class="col-3">
            <div><h3>{{ stats.allTime }}</h3></div>
            <div><p>All Time</p></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Stats</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-12">
            <div><h3>{{ stats.aov7 }}</h3></div>
            <div><p>AOV (7 days)</p></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-12">
    <div class="panel panel-primary border">
      <div class="panel-heading pt-2 pb-2">
        <div class="row">
          <div class="col-6 text-left"><h2 class="pl-2">Orders</h2></div>
          <div class="col-6 text-right">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
              <span class="mr-2">
                <input type="text" formControlName="orderId">
                <button class="button" type="submit">Find</button>
                <span class="{{ searchMessageDisplay }} pl-2">Not found</span>
              </span>
            </form>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-3">
            <div class="font-weight-bold  small">Order ID</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold  small">$</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold  small">Date</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold small">Products</div>
          </div>
          <div class="col-3">
            <div class="font-weight-bold small">First image</div>
          </div>
        </div>

        <div class="order-item" *ngFor="let order of orders">
          <div class="row border-bottom">
            <div class="col-3">
              <div><small><a [routerLink]="['/orders', order.order_id]">{{ order.order_id }}</a></small></div>
              <div><small>({{ order.status }})</small></div>
              <div *ngIf="order.status === 'Shipped'">
                  <div *ngFor="let tn of order.getTrackingNumbers()">
                    <p class='text-center'><small>
                      <a target="_" href="https://www.ups-mi.net/packageID/packageid.aspx?pid={{ tn }}">{{ tn }}</a>
                      </small></p>
                  </div>
              </div>
            </div>
            <div class="col-2">
              <div><small>{{ order.amount.toFixed(2) }}</small></div>
            </div>
            <div class="col-2">
              <div><small>{{ order.date.toLocaleString() }}</small></div>
            </div>
            <div class="col-2">
              <div><small>{{ order.products }}</small></div>
            </div>
            <div class="col-3">
              <div><a [routerLink]="['/orders', order.order_id]" ><img class="thumb" src="{{ order.getImages()[0].url }}"></a></div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>

