<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Sales</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-3">
            <div><h2>{{ stats.today }}</h2></div>
            <div><p>Today</p></div>
          </div>
          <div class="col-3">
            <div><h2>{{ stats.yesterday }}</h2></div>
            <div><p>Yesterday</p></div>
          </div>
          <div class="col-3">
            <div><h2>{{ stats.sevenDays }}</h2></div>
            <div><p>7 Days</p></div>
          </div>
          <div class="col-3">
            <div><h2>{{ stats.allTime }}</h2></div>
            <div><p>All Time</p></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Stats</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-12">
            <div><h2>{{ stats.aov7 }}</h2></div>
            <div><p>AOV (7 days)</p></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="panel panel-primary border">
      <div class="panel-heading"><h2>Recent Orders</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-3">
            <div class="font-weight-bold  small">Order ID</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold  small">$ Value</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold  small">Date</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold small">Products</div>
          </div>
          <div class="col-3">
            <div class="font-weight-bold small">First image</div>
          </div>
        </div>

        <div class="order-item" *ngFor="let order of orders">
          <div class="row border-bottom">
            <div class="col-3">
              <div><small><a [routerLink]="['/orders', order.order_id]">{{ order.order_id }}</a></small></div>
            </div>
            <div class="col-2">
              <div><small>{{ order.amount.toFixed(2) }}</small></div>
            </div>
            <div class="col-2">
              <div><small>{{ order.date.toLocaleString() }}</small></div>
            </div>
            <div class="col-2">
              <div><small>{{ order.products }}</small></div>
            </div>
            <div class="col-3">
              <div><a [routerLink]="['/orders', order.order_id]"><img class="thumb" src="{{ order.getImages()[0].url }}"></a></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-1"></div>

</div>

