/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 0px;
}

/* Text */

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 3vw !important;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 10pt;
}

h3, h4 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #616161 !important;
}

a:hover {
  opacity: 0.8;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

.panel-primary{
  margin-top: 1em !important;
}


.panel-primary .panel-heading {
  background-color: #EEE !important;
}

.panel-primary .panel-footer {
  background-color: #F6F6F6 !important;
}

.thumb {
  width: 14vw;
}