/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 0px;
}

/* Text */

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 3.5vw !important;
}

h4 {
  font-size: 3.0vw !important;
}


h5 {
  font-size: 1.5vw !important;
}

h3, h4, h5 {
  font-weight: lighter;
  line-height: 120px;
  height:60px;
  display: inline-block;
}


p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #616161 !important;
}

a:hover {
  opacity: 0.8;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 64px;
  background-color: #06213b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

menu-bar {
  width: 100% + 30px;
  height: 36px;
  background-color: #06213b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}


.panel-primary{
  margin-top: 1em !important;
}


.panel-primary .panel-heading {
  background-color: #EEE !important;
}

.panel-primary .panel-footer {
  background-color: #F6F6F6 !important;
}

.thumb {
  width: 14vw;
}